<nav class="navbar navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"> Home </a>
    <a class="navbar-brand" routerLink="/ledger-entry"> Ledger Entry </a>

    <ul class="navbar-nav ml-auto">
      <h3><i class="bi bi-list"></i></h3>
    </ul>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  
  <div class="container">
    <a class="navbar-brand" routerLink="/home"> Home </a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    ></button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            routerLink="/ledger-entry"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
            class="nav-link"
            >Ledger Entry</a
          >
        </li>

        
          
            <i class="bi bi-list"></i>
          
        
      </ul>
    </div>
  </div>
</nav>
 -->
